.crossed{
    color: grey;
    text-decoration: line-through;
}
.header{
    border-bottom: 1px solid;
    font-weight: 600px;
}

label{
    font-weight: normal;
}

label, .checkbox, .radio {
	line-height: 1em;
	padding-top: 0.5em;
}

.navbar-unread.online {
	width: 18px;
	height: 18px;
}
.navbar-unread.offline {
	width: 18px;
	height: 18px;
	background-color: #ec7063;
}