<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        
        <a class="navbar-brand" ng-href="#/list/{{app.listId}}">{{app.listTitle ? app.listTitle : 'Liste inconnue'}}</a>
        <p class="navbar-text"><span class="navbar-unread" ng-class="{'online':app.connected, 'offline':!app.connected}"></span></p>
    </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">           
      <li class=""><a href="#/list/new">Cr&eacute;ation d'une nouvelle liste</a></li>
    </ul>  
  </div>


</nav>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <form name="form" class="form-inline">
                    <input class="form-control" ng-repeat="(id, label) in app.model" ng-model="app.newElement[id]" type="text" ng-placeholder="{{label}}" ></input>
                    <button class="btn btn-primary" ng-click="app.addNewElement()">
                        <span class="fui-plus"></span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row header">
            <div class="col-xs-1">
            </div>
            <div ng-repeat="(id, label) in app.model" class="col-xs-5" ng-class="{'col-xs-4':!$index, 'col-xs-2':$index}" ng-bind-html="app.trustAsHtml(label)"></div>
        </div>
        <div class="row" ng-repeat="elem in app.list">
            <div class="col-xs-1">
                <label class="checkbox" for="elem-{{$index}}">
                    <input type="checkbox" id="elem-{{$index}}" ng-model="elem.done" ng-change="app.save()" flat-checkbox>
                </label>
            </div>
            
            <label ng-repeat="(id, label) in app.model" for="elem-{{$parent.$index}}" ng-class="{crossed:elem.done, 'col-xs-4':!$index, 'col-xs-2':$index}">
                {{elem[id]}}
            </label>
            <div class="col-xs-1">
                <button ng-show="elem.done" class="btn btn-xs btn-danger" ng-click="app.removeElement(elem)">
                    <span class="fui-cross"></span>
                </button>
            </div>
        </div>
    </div>
</div>
