<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        
        <a class="navbar-brand" ng-href="#/list/{{app.listId}}">{{app.listTitle ? app.listTitle : 'Liste inconnue'}}</a>
        <p class="navbar-text"><span class="navbar-unread" ng-class="{'online':app.connected, 'offline':!app.connected}"></span></p>
    </div>

  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <ul class="nav navbar-nav">           
      <li class=""><a href="#/list/new">Cr&eacute;ation d'une nouvelle liste</a></li>
    </ul>  
  </div>


</nav>
    <div class="col-xs-12">
        <div class="row row-content" id="addNew">
            <h4>Nouvel &eacute;l&eacute;ment de la liste</h4>
            <form ng-submit="app.addNewElement()">
                <div ng-class="{'col-sm-4':!$index, 'col-sm-2':$index}" ng-repeat="(id, label) in app.model">
                    <input class="form-control" ng-model="app.newElement[id]" type="text" ng-placeholder="{{label}}" ></input>
                </div>
                <div class="col-xs-1">
                    <button type='submit' class="btn btn-primary">
                        <span class="fui-plus"></span>Ajouter
                    </button>
                </div>
            </form>
        </div>
        <div class="row">
            <h4></h4>
            <div class="row header">
                <div class="col-xs-1">
                </div>
                <div ng-repeat="(id, label) in app.model" class="col-xs-5" ng-class="{'col-xs-4':!$index, 'col-xs-2':$index}" ng-bind-html="app.trustAsHtml(label)"></div>
            </div>
            <div class="row row-list" ng-repeat="elem in app.list">
                <label class="checkbox col-xs-1" for="elem-{{$index}}">
                  <input type="checkbox" id="elem-{{$index}}" ng-model="elem.done" ng-change="app.save()" flat-checkbox>
                </label>

                <label ng-repeat="(id, label) in app.model" for="elem-{{$parent.$index}}" ng-class="{crossed:elem.done, 'col-xs-4':!$index, 'col-xs-2':$index}" class="cell-list">
                  {{elem[id]}}
                </label>
                <div class="col-xs-1">
                  <button ng-show="elem.done" class="btn btn-xs btn-danger" ng-click="app.removeElement(elem)">
                      <span class="fui-cross"></span>
                  </button>
                </div>
            </div>
        </div>
    </div>
